<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend destinations</title>
</head>
<body>
    <a href="/TravelRecommendationApp/recommend/"> click me</a>
    <form action="/TravelRecommendationApp/recommend_category/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="cardno" id="" placeholder="0000 0000 0000 0000" required>
    </form>
</body>
</html>